@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Regular.ttf);
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url(/fonts/PTSans-Bold.ttf);
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  src: url(/fonts/PTSans-Italic.ttf);
}

:root {
  --bs-primary-rgb: 0, 123, 255;
  --bs-dark-rgb: 13, 71, 161;
  --bs-body-bg: #f8f9fa;
  --bs-body-font-family: "PT Sans", sans-serif;
  --bs-heading-color: #0d47a1;
  --bs-link-color-rgb: 0, 123, 255;
  --bs-link-hover-color-rgb: 13, 71, 161;
}

h1,
h2,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
small,
.small {
  font-style: italic;
  text-decoration: underline;
}

.btn-primary {
  --bs-btn-bg: #007bff;
  --bs-btn-border-color: #007bff;
  --bs-btn-hover-bg: #0d47a1;
  --bs-btn-hover-border-color: #0d47a1;
  --bs-btn-active-bg: #0d47a1;
  --bs-btn-active-border-color: #0d47a1;
}
