@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Regular.ttf");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("/fonts/PTSans-Bold.ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  src: url("/fonts/PTSans-Italic.ttf");
}

body {
  background-image:
    linear-gradient(rgba(27, 27, 28, 0.75), rgba(0, 0, 0, 0.75)),
    url("./assets/hero.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.nav-link {
  font-style: italic;
}

.btn-primary {
  --bs-btn-hover-bg: #0d47a1;
}
